.Search {
    font-weight: 900;
    width: 8%;
    border-radius: 20px;
    color: lightblue;
    border-color: darkslategray;
    background-color: white;
    margin-bottom: 1%;
}
.Plus {
    background-color: lightblue;
    color: white;
    border-radius: 50%;
    border-color: lightblue;
    margin-bottom: 1%;
}
.Create {
    width: 10%;
    background-color: rgb(95, 95, 170);
    color: rgb(82, 40, 40);
    border-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    margin-bottom: 1%;
}
.add {
    width: 75px;
    height: 25px;
    color: firebrick;
    background-color: aqua;
    border: 2px blue;
    box-shadow: 2px 2px black;
    margin-bottom: 5px;
}